body{
	background-color:rgb(239,239,239);
	font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif!important;
position: relative;
padding-bottom: 120px;
}
.menu-reply{
	border-left: #ddd solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}

a:hover{
	color: rgb(234,80,20);
}
/* 内容包裹层自定义 */
.container_custom{
	margin-bottom:  15px;	
}
.body, .navbar-fixed-top, .navbar-fixed-bottom{
	min-width: 970px;
}
.container .navbar-header, .container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
nav .container{
	margin-top: 0px;
	padding: 0px 15px;
}
.container{
	width: 1120px;
}
ul{
	list-style:none;
} 
a:hover{
	text-decoration:none;			
}  
a{
	color: inherit
}
.wrap{
	margin:60px auto 10px;
	overflow:hidden;
}
.main{
	margin-top:15px;
}
ul{
	margin:0px;
}
.hasfsl{
	margin-right: 2% !important;
}
.no-border>.ui-border>img{
	padding:0px !important; 
}
.userheader{
	width: 10%;
    vertical-align: top;
    padding-top: 11px;
}
.left{
	background-color:#fff;
	border: 1px solid #ddd;
	padding: 0 0 15px;
}
.hot-posted{
	padding: 17px 30px;
	background-color: #e5e5e5;
	font-weight: 400;
	font-size: 16px;
}
.hot{
	margin-top:27px;
	overflow:hidden;
}



.hot_img img{
	width: 50px;
    height: 50px;
    border-radius:50%;
}

.hot_con{
overflow: hidden;
border-bottom : #ddd solid 1px;
padding-bottom: 15px;
font-size: 12px;
}
.hot_con ul{
	margin: 0;
}

.right{					
padding-right:0px; 
} 

.footer{
	background-color:rgb(144,145,146);
	text-align:center;
	height:120px;
	padding-top:30px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer_nav{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 24px !important;
}
.footer_nav a{
	color:#fff;
}
.footer_bottom{
	font-size:12px;
}
.footer_nav li{
	border-right:#fff solid 1px;
	padding:0px 12px;
	color:#fff;
	line-height: 1.2;
	float: left;
	}
.footer_nav li.bd_none,.bd_none{
		border: none!important;
	}
	.logo_white{
		width: 16px;
		height: 16px;
	}
.tb_line{
	border-left:rgb(158,158,159) solid 1px;
	border-right:rgb(158,158,159) solid 1px;
	padding:0px 2px;
}
.swiper-button-prev, .swiper-button-next{
	height:22px !important;
}
.midaben_con .midaben_signpanel .fblock
{
	padding-top: 8px !important;
}
.midaben_con .midaben_signpanel .fblock .all{
	line-height: 15px !important;
}

.logo{
	height:34px;
	margin-top:4px;
	padding-top: 2px;
}
.i_block{
	display: inline-block;
}

ul.cl{
	padding-left: 0px !important;
}
.posted{
	margin-left:72px;
	line-height: 90px;
}	

.panel-default{
	margin:5px auto;
}
.navbar-nav>li{
	float: left;
	
}
.navbar-nav{
	margin: 0;
	
}

.p2_title{
	width:100%;
	margin-bottom:20px;
	border:#666 solid 1px;
}

.title_img{
	float:left;
	margin-right:20px;
}

.title_img span{    
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 8px;
	background-color: rgb(181, 181, 181);
	text-align: center;
	padding: 12px 10px 8px;
}
.title_img img {
	height: 100%;
	max-width: 100%;
}

	
.left_warp{
	padding:0px;
}
div.title{
	height: auto;
	line-height: inherit;
}

.left_title {
    overflow: hidden;
    border-bottom: #ddd solid 1px;
	padding-bottom: 15px;
	margin: 15px 15px 0;
	position: relative;
}

.reply{
	border-left:#ddd solid 1px;
	padding-left:5px;
}
.user_con{
	background-color:#fff;
	width:100%;
	margin-top:20px;

}

.msg{
	line-height:180px;
}

.user_name{
	width:100%;
}
.user_img{
	text-align:center;
	width:100%;
}
.user_img img{
	width:80px;
	height:80px;
	border-radius:40px;
}
.my_p{
	margin-top:20px;
}
.bgcolor{
	width:100%;
	background-color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
.div_width{
	width:100px;
}
.my_table td{
	width:60px;
	text-align:center;
}
.my_progress{
	margin-top:10px;
}
.fans_table td{
	width:80px;
	text-align:center;}
.ruel_cl{
	color:rgb(234,80,20);
}
.sub_num{
	background-color:rgb(234,80,20);
	min-width: 18px;
    margin-left: 5px;
    height: 18px;
    text-align: center;
    color: white;
    border-radius: 40px;
	display: inline-block;
	line-height:18px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	color:rgb(234,80,20);
	background-color: inherit;
}
/* 页脚动画 */

.code_weixin,.code_qq{
display: none;
position: fixed;
bottom: 0;
right: 0;
}
.wechat,.qqgroup{
	cursor: pointer;
}

.left_subnav{
	margin: 0px;
	margin-top: 15px;
	padding: 0 15px 15px;
}
.left_subnav .xi2{
	font-size: 12px;
}
.left_subnav li{
	display: inline;
}
.left_subnav .pull-right{
	padding-top:10px;
}
.font_color,.left_subnav .pull-right a:hover,.left_subnav .pull-right a:hover{
	color:rgb(234,80,20);
}
.user_nub{
	color:#999999;
	margin-right: 2px;
	}
	.box_posted {
		width: 100%;
		color: #FFF;
		background-color: rgb(234,80,20);
		height: 90px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 90px;
		letter-spacing: 6px;
	}
.text_posted{
width:100%;
color:#FFF;
background-color:rgb(234,80,20);
height:60px;
margin-top:10px;
margin-bottom:10px;
font-size:18px;
line-height:60px; 
letter-spacing:2px; 
}	

.box_sign{
width:100%;
height:60px;
margin-top:10px;
padding: 4px 0;
background-color:#fff;
border: solid 1px #ddd;
}
.box_sign_left{
width:50%;
font-size:18px;
line-height: 52px;
text-align:center;
float:left;
}
.box_sign_right{
float:right;
color:rgb(147,148,148);
width:50%;
border-left:#ddd solid 1px;
}
.login_holder
{
	padding: 16px 0px 16px 15px;
}

.login_holder a
{
	color: #ddd;
	line-height: 1;
}

.login_holder a:hover
{
	color: white;
	text-decoration: none;
}

.footer_bottom a
{
	color:white;
}
ul.navbar-nav{
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a
 {
	color: white;
	padding-top: 15px;
    padding-bottom: 15px;
}

.orange
{
	color:rgb(234,80,20);
}
.orange-bg
{
	background-color: rgb(234,80,20);
}
.nav_btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
	margin-right:8px;
	}
.nav_btn button{
	color: #333;
    background-color: #fff;
	padding: 6px 10px 4px;
    font-size: 14px;
    line-height: 1.2;
	border: 1px solid #ddd;
	border-radius:4px;
}
.all_caret{
	margin-left:20px;
	}
.search{
	outline: none;
	border-radius: 0px;
	} 
form.input-group .input-group-btn button{
	border-radius: 0px;
	padding:9px 12px;
}
#scbar_form .fa-my-search{
	font-size: 14px;
	color: #666;
}
#scbar_form>input,#scbar_form .btn-default{
border-color: #ddd;
}
.navbar-inverse {
    background-color: rgb(62,58,57);
}
.sign_ul{
	padding:0px 25px;
height:53px;
text-align:left;
font-size:12px;
}
.plane{
	border-bottom:#ddd solid 1px;
	}
.sign_ul li{
	margin:6px 0px 4px;
	}
.panel-heading{
	border-bottom: rgb(234,80,20) solid 1px;
	}
i{
	margin-right:5px; 
}
.recommend{
	margin: 0px 0px 10px;
	border: #ddd solid 1px;
}
.recommend_head{
	padding:  17px 15px;
	margin: 0px;
	background: #e5e5e5;
}
.recommend_body{
	padding: 20px 15px;
	margin: 0px;
	background-color: #fff;
}
.recommend_body ul{
	padding-left:0px;
}
.recommend_body li{
	margin-bottom: 10px;
}
.panel-title{
	font-size: 16px;
	font-weight:400; 
}
.panel-title a,.notice_title a.more{
	font-size: 12px;
	font-weight: 400;
}
.panel-title a:hover,.notice_title a.more:hover{
	color: rgb(234,80,20);
}
.black_round{
	margin-right:7px;
	height: 16px;
	padding: 0px;
	border: 1px solid #aaa;
	border-radius: 50%;
	display: inline-block;
	width: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #aaa;
}
.orange_round{
	margin-right:7px;
	height: 16px;
	padding: 0px;
	border: 1px solid rgb(234,80,20);
	color:rgb(234,80,20);
	border-radius: 50%;
	display: inline-block;
	width: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}
.my_fa{
	margin-left: 15px;
}
.fa-commenting,.fa-eye,.fa-share-alt,.fa-heart{
	color:#9c9c9c;
	margin-left: 10px;
	margin-right: 4px;
}
nav.navbar {
	border-top: 5px solid rgb(234,80,20);
	border-bottom: none;
}



.user_photo{
	width: 60px;
	height: 60px;
	border-radius:50%;
}
.my_btn,.o-btn{
	background-color: rgb(234,80,20);
	border: 0px;
	color: #fff;
	text-align: center;
}
.o-btn{
	padding: 6px 18px;
	border-radius: 0px;
}
.btn-add-friend{
	padding: 0px 6px;
}
.btn-reply{
	padding: 4px 20px;
}
.right_div{
	margin: 10px auto;
}
.smalle_photo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.right_div_bor{
	margin: 20px auto;
	border-bottom: rgb(225,225,226) solid 1px;
	padding-bottom: 20px;
}
.my_progress{
	margin: 10px auto 0px;
}
.moderator span{
margin-left:5px;
}



/* 
 *关注我们
 */
 .close{
	 margin-left:8px !important;
 }

.contact_us_title,.notice_title,div.frame-title{
	padding:17px 15px;
	background: #e5e5e5!important;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	margin: 0!important;
}

.contact_us_con a,.contact_us_con div{
	padding:15px 0;
	cursor: pointer;
	display: block;
}
.contact_us_con div{
	border-top: #ddd solid 1px;
}
.fa-weibo{
	color: rgb(215, 83, 58);
	margin-right: 10px;
	font-size: 20px;
}
.fa-weixin{
	color: rgb(121, 175, 24);
	margin-right: 8px;
	font-size: 18px;
}

.qr_code{
	width: 160px;
	height: auto;
}
.notice_con{
	padding: 15px;
	background-color: #fff;
}
.contact_us_con{
	padding: 0 15px;
	background-color: #fff;
	color: #6c6c6c;
	font-size: 15px;
}
.contact_us,.ntc{
	border: #ddd solid 1px;
	margin-top: 10px;
}
.contact_us h4{
	margin: 0px;
}



.date{
	color: #999;
}
.weibo,.weixin{
	font-size: 15px;
	color: #6c6c6c;
	font-weight: 600;
}

/* 
 *公告
 */
 
.notice_con img{
	width: 80px;
	margin-right: 12px;
}
.Reservations{
	background: rgb(234,80,20);
	padding: 4px 12px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 15px;
	display: inline-block;
}
.Reservations:hover,.Reservations:visited{
	background: rgb(234,80,20);
	color: #fff;
	text-decoration: none;
}
.Reservations .fa-cart-plus{
	margin-left: 4px;
}
.notice_text{
	margin-top:6px;
	color:#6c6c6c;
}
.notice_text a{
	margin-top: 10px;
}
.notice_title .more .fa{
	margin-left: 4px;
}
#close{
	margin-left: 4px;
}
/* 官方活动 */
.official_functions{
	position: relative;
}
.official_functions img{
	width:100%;
}
.official_functions .Reservations{
	position: absolute;
	right: 12px;
	bottom: 12px;
	font-size: 15px;
}
.nav-tabs>li>a {
    border-radius: 0px;
}


input[type=checkbox], input[type=radio]{
	margin: 0 2px 1px 0;
}
/* DISCUZ 自定义 */
.pbl a{
	color: #6c6c6c;
}
.pbls a{
	color: #fff;
	background: rgb(234,80,20);
}
.pbls a:focus, .pbls a:hover{
	text-decoration: none;
}
div.mn{
	overflow:inherit;
}
ul.dropdown-menu{
	min-width: initial;
}
.bm_c{
	padding:0 30px;
}

.qr_code_wrap,.code_weixin,.code_qq{
	background-color: #fff;
	padding: 20px;
	color: #6c6c6c;
	max-width: 240px;
	box-shadow:0 2px 10px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	position: fixed;
	right: 0px;
	bottom: 0px;
	display: none;
}
.qr_code_wrap img,.code_weixin img,.code_qq	img{
	width: 100%;
}
.block .xl1 ul li{
	font-size:12px;
	padding-left:12px;
	color:#6c6c6c;
}
.xl li{
	margin: 12px 0px;
}
span.menu-icon{
    border-radius: 4px;
    background-color: rgb(201, 201, 202);
	width: 20px!important;
	height: 20px!important;
    padding: 2px;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}
.menu-icon>img{
	height: 16px;
	max-width: 16px;
}
/* 发帖子 */
span#subjectchk{
	color: #afafaf;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 8px;
	margin-top: 10px;
	font-size: 12px
}
.z{
	position: relative;
}
.z>span>.form-control{
	height: 36px;
	padding-right: 110px;
	border-radius: 0px;
	min-width: 486px;
}
a#typeid_ctrl{
	border: none;
}
a#typeid_ctrl:focus{
	outline: none;
}
#e_body{
	border-color: #ddd;
}
.hold_btn{
	background-color: rgb(201,201,201);
    border: 0px;
    color: #fff;
	text-align: center;
	margin-left: 4px;
}

.ftid{
	height: 36px;
	padding: 8px 12px 4px;
	min-width: 118px;
	border: 1px solid #ddd;
	text-align: left;
}
.sex{
	min-width: 100px!important;
}

.ftid a{
	padding: 0 20px 0 0;
}
#append_parent div#typeid_ctrl_menu{
	min-width: 118px;
    top: 100px!important;
    margin-left: -13px;
}
li.pm2 a.xi2:link{
	padding: 10px;
	border-radius: 4px!important;
	color: #fff;
	background: rgb(234,80,20);
}


/* 弹出信息 */

.avt img{
	border-radius: 50%;
	outline: none;
	width: 52px;
height: 52px;
}
div.card{
	border: none;
}


.pencil{
	width: 24px;
	margin:0 8px 4px 0; 
}
/* 版主块 */
.bbs-moderator{
    background: #fff;
	border: 1px solid #ddd;
	padding: 30px 15px 30px;
	text-align: center;
}
.bbs-moderator .tns{
	color:#6c6c6c;
}
.ui-border>img{
	width: 60px;
    height: 60px;
	border-radius: 50%;
	padding:5px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

.tb a{
	background-color: #d4d4d4;
}

div.uname{
	font-size: 16px;
	font-weight: 600;
}
.font-grey{
	color: #6c6c6c;
}
.font-grey-1{
	color: #afafaf;
	font-weight: 400;
}
.to_home,.send_msg{
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	padding: 5px 18px 4px;
}

.send_msg:link{
	background: #e5e5e5;
	border-radius: 4px;
	min-width: 86px;
	text-align: center;
}
.send_msg:hover{
	color: inherit;
}
.to_home{
	background: rgb(234,80,20);
	border-radius: 4px;
	color: #fff;
	margin-right: 6px;
	min-width: 86px;
	text-align: center;
}
.to_home:hover{
	color:#fff;
}
.to_home:focus,.to_home:active,.to_home:visited{
text-decoration: none;
color: #fff;
}

.font_color_gray{
	color: #6c6c6c;
    overflow: hidden;
    height: 16px;
}
.font_color_gray a{
	font-size: 12px;
}
.gray_round {
margin-right: 6px;
margin-bottom: 2px;
height: 4px;
padding: 0px;
border: 1px solid #6c6c6c;
color: #6c6c6c;
border-radius: 50%;
display: inline-block;
width: 4px;
font-size: 12px;
text-align: center;
background-color: #e5e5e5;
line-height: 14px;
}

.pt-6{
	padding-top: 6px;
}
.activitycity{
	min-width: 159px;
}
.must{
	background: rgb(247, 247, 247);
	padding: 20px 8px;
	margin: 20px 0 30px;
}
.must>dd,.must>dd>ul,.must label{
	margin: 0!important;
}
.must li{
	width: 120px;
}
.must>dd{
	min-width: 600px;
	padding-left: 15px;
}
.must>dt{
	margin-top: 2px;
}
.mw120{
	min-width: 120px;
}

#p_btn i{
	padding:0px!important;
}
#p_btn a{
	margin: 0;
	padding: 0 6px;
	border-right: #ccc 1px solid;
	line-height: 1.2;
	color: #6c6c6c;
	cursor: pointer;
	font-size: 12px;
}
#p_btn i,#p_btn a{
	background-image: none!important;
}
.w-q>img,.q-q>img{
	width: 20px;
	margin-right: 10px;
}
.w-q{
	padding-right: 14px!important;
}
.q-q{
	padding-right: 22px!important;
}
 a:focus,a:visited,a:active{
	 color: inherit;
	 text-decoration: none;
	 outline: none;
 }
.tl .sttl h2{
	margin: 0px;
	padding: 15px;
	font-size: 14px;
}

.sadd p.mbn{
	margin-bottom: 15px!important;
}
#p_btn{
	padding: 0;
	margin: 15px -6px 15px 0;
	text-align: right;
	line-height: 1.2;
}

.xi2, .xi2 a, .xi3 a{
	color: inherit!important;
}
h3{
	margin-top:30px;
	margin-bottom: 5px; 
}
#quick_sch_menu{
	top: 68px!important;
}
.block .xl1 ul li{
	height:16px;
}
.block{	
	margin: 20px 15px;
}
.module li{
margin: 10px 0 0 0;
}

.bi-none{
	background-image: none!important;
}

.nfl .f_c{
	background-color: transparent;
	border: none;
	width: auto;
	margin: 15px auto;
	padding: 0px;
}
.alert_btnleft a{
	display: inline-block;
	padding: 2px 18px;
	border-radius:4px;
	margin: 15px 15px 0;
	background-color: #fff;
	font-weight: 400;
	border: #ccc solid 1px; 
	min-width: 108px!important;
	color: #333;
	text-align: center;
	min-width: 110px;
}
.nf-wrap{
	margin-top: 30px;
}
#messagetext{
	padding: 0px;
}