body{
	background-color:rgb(239,239,239);
	font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif!important;
}
.menu-reply{
	border-left: #CCCCCC solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}

a:hover{
	color: rgb(234,80,20);
}
/* 内容包裹层自定义 */
.container_custom{
	margin-bottom:  15px;	
}
.body, .navbar-fixed-top, .navbar-fixed-bottom{
	min-width: 970px;
}
.container .navbar-header, .container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
nav .container{
	margin-top: 0px;
	padding: 0px 15px;
}
.container{
	width: 1120px;
}
ul{
	list-style:none;
} 
a:hover{
	text-decoration:none;			
}  
a{
	color: inherit
}
.wrap{
	margin:60px auto 10px;
	overflow:hidden;
}
.main{
	margin-top:15px;
}

.left{
	background-color:#fff;
	border: 1px solid rgb(212,212,213);
	padding:20px;
}

.hot{
	margin:15px 0px;
	overflow:hidden;
}



.hot_img img{
	width:52px;
	height:52px;
	border-radius:30px;
}

.hot_con{
overflow: hidden;
border-bottom : #ddd solid 1px;
padding-bottom: 15px;
font-size: 12px;
}
.hot_con ul{
	margin: 0;
}

.right{					
padding-right:0px; 
} 

.footer{
	background-color:rgb(144,145,146);
	text-align:center;
	height:120px;
	padding-top:30px;
	color: #fff;
}
.footer_nav{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 24px;
}
.footer_nav a{
	color:#fff;
}
.footer_bottom{
	font-size:12px;
}
.footer_nav li{
	border-right:#fff solid 1px;
	padding:0px 12px;
	color:#fff;
	line-height: 1.2;
	float: left;
	}
.footer_nav li.bd_none{
		border: none;
	}
	.logo_white{
		width: 16px;
		height: 16px;
	}
.tb_line{
	border-left:rgb(158,158,159) solid 1px;
	border-right:rgb(158,158,159) solid 1px;
	padding:0px 2px;
}
.logo{
	height:auto;
	margin-top:4px;
}
.i_block{
	display: inline-block;
}

ul.cl{
	padding-left: 0px !important;
}
.posted{
	margin-left:72px;
	line-height: 90px;
}	

.panel-default{
	margin:5px auto;
}
.navbar-nav>li{
	float: left;
	
}
.navbar-nav{
	margin: 0;
	
}

.p2_title{
	width:100%;
	margin-bottom:20px;
	border:#666 solid 1px;
}

.title_img{
	float:left;
	margin-right:20px;
}

.title_img span{    
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(181, 181, 181);
}
.title_img img {
    width: 100%;
}

	
.left_warp{
	padding:0px;
}
div.title{
	height: auto;
	line-height: inherit;
}

.left_title {
    overflow: hidden;
    border-bottom: #ddd solid 1px;
	padding-bottom: 15px;
	margin: 15px 15px 0;
	position: relative;
}

.reply{
	border-left:#CCCCCC solid 1px;
	padding-left:5px;
}
.user_con{
	background-color:#fff;
	width:100%;
	margin-top:20px;

}

.msg{
	line-height:180px;
}

.user_name{
	width:100%;
}
.user_img{
	text-align:center;
	width:100%;
}
.user_img img{
	width:80px;
	height:80px;
	border-radius:40px;
}
.my_p{
	margin-top:20px;
}
.bgcolor{
	width:100%;
	background-color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
.div_width{
	width:100px;
}
.my_table td{
	width:60px;
	text-align:center;
}
.my_progress{
	margin-top:10px;
}
.fans_table td{
	width:80px;
	text-align:center;}
.ruel_cl{
	color:rgb(234,80,20);
}
.sub_num{
	background-color:rgb(234,80,20);
	min-width: 18px;
    margin-left: 5px;
    height: 18px;
    text-align: center;
    color: white;
    border-radius: 40px;
	display: inline-block;
	line-height:18px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	color:rgb(234,80,20);
	background-color: inherit;
}
/* 页脚动画 */
.code{
	position: fixed;
	bottom: 0;
	left: 0;
}
.code img{
display: none;
}
.wechat,.qqgroup{
	cursor: pointer;
}

.left_subnav{
	margin: 0px;
	margin-top: 15px;
	padding: 0 15px 15px;
}
.xi2:link{
 color: #333;
}

.left_subnav li{
	display: inline;
}
.font_color,.left_subnav .pull-right a:hover,.left_subnav .pull-right a:hover{
	color:rgb(234,80,20);
}
.user_nub{
	color:#999999;
	margin-right: 2px;
	}
	.box_posted {
		width: 100%;
		color: #FFF;
		background-color: rgb(234,80,20);
		height: 90px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 90px;
		letter-spacing: 6px;
	}
.text_posted{
width:100%;
color:#FFF;
background-color:rgb(234,80,20);
height:60px;
margin-top:10px;
margin-bottom:10px;
font-size:18px;
line-height:60px; 
letter-spacing:2px; 
}	
/* .text_posted i{
 font-size: 20px;
 margin-right: 4px;
} */
.box_sign{
width:100%;
height:60px;
margin-top:10px;
padding: 4px 0;
background-color:#fff;
border: solid 1px #ccc;
}
.box_sign_left{
width:50%;
font-size:18px;
line-height: 52px;
text-align:center;
float:left;
}
.box_sign_right{
float:right;
color:rgb(147,148,148);
width:50%;
border-left:#ddd solid 1px;
}
.login_holder
{
	padding: 16px 0px 16px 15px;
}

.login_holder a
{
	color: #ddd;
	line-height: 1;
}

.login_holder a:hover
{
	color: white;
	text-decoration: none;
}

.footer_bottom a
{
	color:white;
}
ul.navbar-nav{
	font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a
 {
	color: white;
	padding-top: 15px;
    padding-bottom: 15px;
}

.orange
{
	color:rgb(234,80,20);
}
.orange-bg
{
	background-color: rgb(234,80,20);
}
.nav_btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
	margin-right:8px;
	}
.nav_btn button{
	color: #333;
    background-color: #fff;
	padding: 6px 10px 4px;
    font-size: 14px;
    line-height: 1.2;
	border: 1px solid #CCC;
	border-radius:4px;
}
.all_caret{
	margin-left:20px;
	}
.search{
	outline: none;
	border-radius: 0px;
	} 
form.input-group .input-group-btn button{
	border-radius: 0px;
	padding:9px 12px;
}
#scbar_form .fa-my-search{
	font-size: 14px;
	color: #666;
}
/* .glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.navbar-inverse {
    background-color: rgb(62,58,57);
}
.sign_ul{
	padding:0px 25px;
height:53px;
text-align:left;
font-size:12px;
}
.plane{
	border-bottom:#CCCCCC solid 1px;
	}
.sign_ul li{
	margin:6px 0px 4px;
	}
.panel-heading{
	border-bottom: rgb(234,80,20) solid 1px;
	}
i{
	margin-right:5px; 
}
.recommend{
	padding: 15px;
	margin: 0px 0px 10px;
	border: #ccc solid 1px;
	background-color: #fff;
}
.recommend_head{
	padding: 0px 0px 10px;
	margin: 0px;
	border-bottom: rgb(234,80,20) solid 2px;
}
.recommend_body{
	padding: 15px 0px 0px;
	margin: 0px;
}
.recommend_body ul{
	padding-left:0px;
}
.recommend_body li{
	margin-bottom: 14px;
}
.panel-title{
	font-size: 14px;
	font-weight:600; 
}
.panel-title a,.notice_title a.more{
	color: #667ebd;
	font-size: 12px;
	font-weight: 400;
}
.panel-title a:hover,.notice_title a.more:hover{
	color: rgb(234,80,20);
}
.black_round{
	margin-right:7px;
	height: 16px;
	padding: 0px;
	border: 1px solid #aaa;
	border-radius: 50%;
	display: inline-block;
	width: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #aaa;
}
.orange_round{
	margin-right:7px;
	height: 16px;
	padding: 0px;
	border: 1px solid rgb(234,80,20);
	color:rgb(234,80,20);
	border-radius: 50%;
	display: inline-block;
	width: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}
.my_fa{
	margin-left: 15px;
}
.fa-commenting,.fa-eye,.fa-share-alt,.fa-heart{
	color:#ccc;
	margin-left: 10px;
	margin-right: 4px;
}
nav.navbar {
	border-top: 5px solid rgb(234,80,20);
	border-bottom: none;
}



.user_photo{
	width: 60px;
	height: 60px;
	border-radius:50%;
}
.my_btn{
	background-color: rgb(234,80,20);
	border: 0px;
	color: #fff;
	text-align: center;
}
.btn-add-friend{
	padding: 0px 6px;
}
.btn-reply{
	padding: 4px 20px;
}
.right_div{
	margin: 10px auto;
}
.smalle_photo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.right_div_bor{
	margin: 20px auto;
	border-bottom: rgb(225,225,226) solid 1px;
	padding-bottom: 20px;
}
.my_progress{
	margin: 10px auto 0px;
}
.moderator span{
margin-left:5px;
}



/* 
 *关注我们
 */

.contact_us_title,.notice_title,div.frame-title{
	padding:10px 15px;
	background: #e5e5e5!important;
	font-size: 14px;
	font-weight: 600;
	margin: 0!important;
}

.microblog,.contact_weixin{
	padding:15px 0;
	cursor: pointer;
	display: block;
}
.microblog{
	border-bottom: #ddd solid 1px;
}
.fa-weibo{
	color: rgb(215, 83, 58);
	margin-right: 10px;
	font-size: 20px;
}
.fa-weixin{
	color: rgb(121, 175, 24);
	margin-right: 8px;
	font-size: 18px;
}

.qr_code{
	width: 160px;
	height: auto;
}
/* .contact_us_con, */.notice_con{
	padding: 15px;
	background-color: #fff;
}
.contact_us_con{
	padding: 0 15px;
	background-color: #fff;
}
.contact_us,.ntc{
	border: #ccc solid 1px
}
.contact_us h4{
	margin: 0px;
}



.date{
	color: #999;
}
.weibo,.weixin{
	font-size: 15px;
	color: #888;
	font-weight: 600;
}

/* 
 *公告
 */
 
.notice_con img{
	width: 90px;
	margin-right: 12px;
}
.Reservations{
	background: rgb(234,80,20);
	padding: 4px 12px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 15px;
	display: inline-block;
}
.Reservations:hover,.Reservations:visited{
	background: rgb(234,80,20);
	color: #fff;
	text-decoration: none;
}
.Reservations .fa-cart-plus{
	margin-left: 4px;
}
.notice_text{
	margin-top: 10px;
}
.notice_text div{
	margin-bottom: 6px
}
.ntc{
	margin-bottom: 10px;
}

.notice_title .more .fa{
	margin-left: 4px;
}
#close{
	margin-left: 4px;
}
/* 官方活动 */
.official_functions{
	position: relative;
}
.official_functions img{
	width:100%;
}
.official_functions .Reservations{
	position: absolute;
	right: 12px;
	bottom: 12px;
	font-size: 15px;
}
.nav-tabs>li>a {
    border-radius: 0px;
}


input[type=checkbox], input[type=radio]{
	margin: 0 2px 1px 0;
}
/* DISCUZ 自定义 */
div.mn{
	overflow:inherit;
}
ul.dropdown-menu{
	min-width: initial;
}
.bm_c{
	padding:0 15px;
}
.text_posted .fa-pencil-square-o{vertical-align:middle;}
.qr_code_wrap{
	background-color: #fff;
	padding: 15px;
	color: #888;
	max-width: 250px;
	box-shadow:0 2px 10px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	position: fixed;
	right: 0px;
	bottom: 0px;
	display: none;
}	
.block .xl1 ul li{
	font-size:12px;
	padding-left:12px;
	color:#6c6c6c;
}
.xl li{
	margin: 12px 0px;
}
span.menu-icon{
    border-radius: 2px;
    background-color: rgb(201, 201, 202);
	width: 20px!important;
	height: 20px!important;
    padding: 2px;
	margin-right: 2px;	
	display: inline-block;
	text-align: center;
}
.menu-icon>img{
	height: 16px;
	max-width: 16px;
}
