.title{
	padding:0px;
	margin-top: 2px;
	margin-bottom: 8px;
	font-size: 16px;
	}
	
	.div_posted{
		background-color:rgb(234,80,20);
		margin-top:5px;
		color:#fff;
	}
	
	.sign{
		border:rgb(234,80,20) solid 1px;
		color:rgb(234,80,20);
	}
	
	.div_posted a{
		color: #FFF;
		width: 100%;
		margin: 0px auto;
	}
	.label {
		padding: 0.2em .6em .1em;
		position: relative;
		margin: 0px 5px;
		font-weight: 400;
	}
	.title_1{
		font-weight: 400!important;
	}
	
	.vip{
		color:rgb(249, 186, 0);
	}
	.user{
		padding-left: 0px;
		color: #777;
	}
	.user li{
		display: inline-block;
	}
	.title_red{
		color:#d9534f;
	}
	.title_blue{
		color:#3E82D3;
	}
	.fa_rel{
		position: relative;
		top:-5px;
		margin: 0px 5px;
		color:green
	}
	.nav-tabs{
		border: 0px;
	}
	.left_bottom{
		width:100%;
		background-color:#fff;
		border: 1px solid rgb(212,212,213);
		padding:20px;
		margin-top: 10px;
	}
	.left_top{
		width:100%;
		background-color:#fff;
		border: 1px solid rgb(212,212,213);
		padding:20px 20px 0px;
	}
	
	.cast2_title {
		color: rgb(181, 181, 181);
		margin-left: 15px;
		position: relative;
		top: 40px;
		font-size: 30px;
	}
	.box_posted img{
		width:60px;
		height:60px;
		border-radius:30px;
	}
	.sign_img{
		float: left;
		margin-left:38px;
		margin-top: 14px;
	}
	.sign_img img{
		width:60px;
		height:60px;
		border-radius:30px;
	}
	
	.cast2_sign{
	width:100%;
	color:#999;
	background-color:#FFF;
	height:90px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:12px;
	line-height: 90px; 
	border:rgb(234,80,20) solid 2px;
	}
	table.sign_table{
		margin:21px 0px 0px 170px;
		line-height:25px;
	}
	
	.sign_msg{
		color: rgb(234,80,20);
		font-size:18px;
		letter-spacing: 6px;
	}
	.moderator{
		padding:0px 10px 10px 0px;
		color: #6c6c6c;
	}
	.moderator img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.left_nav{
		width:100%;
		background-color:#fff;
		border: 1px solid #ddd;
		padding:0px;
		margin-bottom: 15px;
	}
	.my_label{
		padding: .2em .6em;
		background-color: rgb(234,80,20);
		font-size: 80%;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
	}
	.time{
		padding-bottom:10px;
		margin-bottom: 10px;
		color: #6c6c6c!important;
		font-size:12px!important;
	}

	textarea{
		width: 100%;
		border-color:rgb(212,212,213);
	}

	.collect{
		margin-left: 5px;
	}
	.progress{
		background-color: rgb(62,58,57);
	}
	.progress-bar-danger{
		background-color: rgb(234,80,20);
	}
	.my_table{
		margin: 0px auto;
	}
	.panel-body{
		max-height: 120px;
		height: 120px;
	}
	.cast_ii_left,.serve_left{
		padding: 0px;
	}
	.reply-head{
		margin-bottom: 30px;
		padding-right:15px; 
	}
	
	/* discuz 详情 选择器自定义 */
	#return_mods{
		color: rgb(234,80,20)!important;
		font-size: 15px;
	}
	.copt .labeltxt{
		color: rgb(234,80,20)!important;
		font-weight: 400;
		margin-right: 4px;
		min-width: 56px;
	}
	label.labeltxt{
		width: auto!important;
	}
	.dpbtn{
		height: auto;
		border-radius: 4px;
		min-height: 25px;
	}
	h3.flb{
		margin-top: 10px;
		font-weight: 300;
	}
	.tm_c div.o,.tm_c p.o{
		background-color: #fff;
	}
	.m_c .o{
		height: auto;
		padding:0px;
		border-top:none;
	}
	.pns .orange-btn{
		padding: 2px 12px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.pn.pnc>strong{
		padding: 0px;
	}
	.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r{
		background-color: transparent;
	}
	.flb{
		padding: 0px;
	}
	td.m_c{
		padding:5px 15px 0;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	}
	.m_c .c{
		padding: 0px;
	}
	.px, .pt, .ps, select{
		border-radius:4px; 
	}
	td input.px,td .pt,p .pt{
		width: 100%;
	}
	.tpclg h4{
		font-size:14px; 
	}
	.m_c .o{
		background-color:#fff; 
	}
	.hasd .labeltxt{
		font-weight: 600;
	}
	.tpclg textarea.pt{
		width: 100%!important;
	}
	.tahfx select{
		width: auto!important;
	}
	.c1 .dpbtn{
		border-radius: 4px;
	}
	.flb em{
		color: rgb(234,80,20)!important;
		font-size: 15px;
		font-weight: 300;
	}
	#fctrl_mods{
		border-bottom: 1px solid #ddd;
		height:30px;
	}
	button.pn{
		padding: 1px 10px 3px;
		border-radius: 4px;
		margin-left: 10px;
		border: 0px;
		background: rgb(234,80,20)!important;
		color: #fff;
		text-align: center;
		font-weight: 400;
	}
	.pn strong,.orange-btn strong{
		font-weight: 400;
	}
	ul.tpcl{
		border-top: 0px;
	}
	.altw .alert_right,.altw .alert_error{
		background-position:8px 2px;
	}
	#modsubmit{
		margin-left: 15px;
	}

	/* boot自定义样式 */
	.nav>li>a:focus, .nav>li>a:hover{
		background-color: transparent;
	}

	.nav-tabs>li>a:hover{
		border-color:transparent;
	}

	.code>div{
		border-bottom:1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	/* 板块 菜单里的发帖按钮 */
	.posted-btn{
		background: rgb(234,80,20);
		color: #fff;
		font-size: 16px;
		outline: none;
		border: none;
		text-align: center;
		padding: 7px 24px 4px;
		letter-spacing:1px;
		position: absolute;
		right: 0px;
		bottom: 15px;
	}
	.posted-btn .pencil{
		width: 22px;
    margin: 0 8px 4px 0;
	}

	.posted-btn:hover,.posted-btn:focus,.posted-btn:active{
		color: #fcfcfc;
		text-decoration: none;
	}
	.posted-btn:hover{
		box-shadow:0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

	}
	.bmw{
		border-color: #ddd;
	}
	.popuptext .pc_l, .popuptext .pc_c, .popuptext .pc_inner, .popuptext .pc_r{
		background-image: none;
		background-color: rgb(234, 80, 20);
		font-size: 14px;
	}
	#append_parent .popuptext .pc_l{
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}
	#append_parent .popuptext .pc_r{
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.pc_inner i{
		font-size: 14px!important;
	}
	.xlda dd a{
		color: #999 !important;
	}
	