section.container{
    margin-bottom: 15px;
}
/* 
 *左侧导航
 */

li.a{
    color: rgb(234,80,20);
}
.leftsidebar{
    padding: 0px;
}
.leftsidebar li.a{
    background-color: #f7f7f7;
    color: inherit;
}
.leftsidebar_title{
    font-size: 16px;
    background-color: #fff;
    border-width: 1px 1px 0px 1px!important;
    border: solid #ddd;
}
.leftsidebar_title span{
    display:block;
    margin: 0 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #cdcdcd;
}
.leftsidebar_list{
    background-color: #fff;
    border-width: 0px 1px 1px 1px!important;
    border: solid #ddd;
    padding:10px 0;
}
.leftsidebar_list>li{
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* 
 *右侧消息详情
 */
 .information{
     min-height: 400px;
     padding-right: 0px;
 }
 .information .tb{
    margin: 0 -15px 15px!important;
     padding:15px 0!important;
     background-color: #f7f7f7!important;
     line-height:unset;
 }
 .rightsidebar{
     padding: 15px 0px;
     border-bottom: 1px #ddd dashed;
 }
 .rightsidebar a{
     border-right: 1px solid #333;
     padding: 0 15px;
 }
 span.empty_tags{
     padding: 0px;
     border-right: 1px solid #333;
 }
 .rightsidebar_act{
    color: rgb(234,80,20);
    font-weight: 600;
}
.file{
    margin-left: 15px;
    padding: 2px 8px;
    background-color: rgb(234,80,20);
    color: #fff;
    outline: none;
    border: 1px solid rgb(253, 97, 40);
}

.prompt_message{
    font-weight: 600;
}
div.friends_details{
    padding:15px 0; 
}
/* 消息提交按钮（discuz默认ID）*/
button#pmsubmit_btn{
    background-color: rgb(234,80,20);
    padding: 3px 18px;
    height: auto;
}
/* 选择好友（discuz默认ID） */
#showSelectBox{
    color: rgb(234,80,20);
}
.tb .my_btn{
    color: inherit;
}
.bbda.cur1.cl{
    border-bottom: 1px solid #ddd;
}