section.container{
    margin-bottom: 15px;
}
/* 
 *左侧导航
 */

li.a{
    color: rgb(234,80,20);
    font-weight: 600;
}
.leftsidebar{
    padding-left: 0px;
}
.leftsidebar li.a{
    border-bottom: 1px solid rgb(234,80,20);
}
.leftsidebar_title{
    background-color: rgb(234,80,20);
    color: #fff;
    margin: 0px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
}
.leftsidebar_list{
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0,.2)
}
.leftsidebar_list>li{
    padding: 10px 0px;
    font-size: 15px;
    cursor: pointer;
}

/* 
 *右侧消息详情
 */
 .information{
     background-color: #fff;
     min-height: 380px;
 }
 .rightsidebar{
     padding: 15px 0px;
     border-bottom: 1px #ddd dashed;
 }
 .rightsidebar a{
     border-right: 1px solid #333;
     padding: 0 15px;
 }
 span.empty_tags{
     padding: 0px;
     border-right: 1px solid #333;
 }
 .rightsidebar_act{
    color: rgb(234,80,20);
    font-weight: 600;
}
.file{
    margin-left: 15px;
    padding: 2px 8px;
    background-color: rgb(234,80,20);
    color: #fff;
    outline: none;
    border: 1px solid rgb(253, 97, 40);
}

.prompt_message{
    font-weight: 600;
}
div.friends_details{
    padding:15px 0; 
}
/* 消息提交按钮（discuz默认ID）*/
button#pmsubmit_btn{
    background-color: rgb(234,80,20);
    border: 1px solid rgb(253, 97, 40);
    padding: 2px 8px;
    height: auto;
}
/* 选择好友（discuz默认ID） */
#showSelectBox{
    color: rgb(234,80,20);
}
.tb .my_btn{
    color: inherit;
}
