/* 
 *菜单-----已登录板块
 */

.logged_in,
.msg_reminder {
    padding: 10px 0px 10px 15px;
    line-height: 20px;
}

.logged_in {
    text-align: center;
    cursor: pointer;
}

#user_login_nav {
    display: none;
    background-color: rgb(62, 58, 57);
    position: absolute;
    transform: translateX(-6%);
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 14px;
    min-width: 90px;
    border-top: 1px solid #6c6c6c;
}

#user_login_nav ul {
    padding: 0px;
}

#user_login_nav a:hover,
#user_login_nav a:active {
    color: rgb(234,80,20);
    text-decoration: none;
}

#user_login_nav ul>li {
    display: block;
    padding: 8px;
    border-bottom: 1px solid rgba(204, 204, 204,.5);
}
#user_login_nav>ul>li>img{
    margin-right: 6px;
    width: 16px;
    height: auto;
    margin-bottom: 2px;
    border-radius: 0px;
}

/* #user_login_nav::before {
    border-left: 6px solid;
    border-right: 6px solid;
    border-color: transparent;
    background: transparent;
    content: '';
    border-bottom: 5px solid rgb(62, 58, 57);
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
    height: 28px;
    width: 12px;
} */

li.bd-none{
    border-bottom:0px!important;
}

.logged_in img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
 

.logged_in_name {
    margin-left: 8px;
    font-size: 14px;
}

.navbar-nav {
    color: #fff;
}

.msg_num {
    display: inline-block;
    background-color: rgb(234,80,20);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    transform: translate(-40%, -50%);
}

i {
    margin-right: 0px;
}

.fa-envelope-o-custom {
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
}