.font-grey{
    color:#999;
}
section.container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.title_my_posts{
    font-size: 15px;
    font-weight:600;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #fff;
   width: 88%;
   float: left;
}
.o-flow{
    overflow: hidden;
}
.posted_btn{
    background: rgb(234,80,20);
    color: #fff;
    outline: none;
    border: none;
    text-align: center;
    padding: 11px 25px 9px;
    font-size: 15px;
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif!important;
    max-width: 120px;
    display:block;
    margin-top: 15px;
    float: right;
}
.posted_btn:hover,.posted_btn:focus,.posted_btn:active{
    color: #fcfcfc;
    text-decoration: none;
}
.posted_btn:hover{
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}
.fa-pencil-square-o{
    vertical-align: middle;
    font-size: 120%;
}

.my_posts_tab span{
    background-color: #d4d4d4;
    font-weight: 600;
    padding: 3px 6px;
    text-align: center;
    display: inline-block;
    width: 100px;
    letter-spacing: 1px;
    cursor: pointer;
    float: left;
    margin-right: 1px;
}
li.a span{
    background-color: rgb(234,80,20);
    color: #fff;
}
.details_head{
    background-color: rgb(249, 249, 249);
    padding: 10px 20px;
    color: #666;
}

.details_head ul{
    margin: 0px;
    padding:0px;
}
.details_head li{
    float: left;
    list-style-type: none;
    padding: 0 8px;
    text-align: center;
    line-height: 1;
}
.cut-off{
    border-right:rgb(158,158,159) solid 1px;
}
ul li.item-title{
    padding: 0 15px 0 0;
}
.item-writer{
    margin-right: 20px;
}

