/* 
 *左侧导航
 */

 li.a{
    color: rgb(234,80,20);
}
.leftsidebar{
    padding: 0px;
}
.leftsidebar li.a{
    background-color: #f7f7f7;
    color: inherit;
}
.leftsidebar_title{
    font-size: 16px;
    background-color: #fff;
    border-width: 1px 1px 0px 1px!important;
    border: solid #ddd;
}
.leftsidebar_title span{
    display:block;
    margin: 0 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #cdcdcd;
}
.leftsidebar_list{
    background-color: #fff;
    border-width: 0px 1px 1px 1px!important;
    border: solid #ddd;
    padding:10px 0;
}
.leftsidebar_list li{
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* 右侧详情 */
.my_posts{
    padding-right: 0px;      
}
.title-tb{
    margin: 0 -15px 15px!important;
    padding:15px!important;
    background-color: #f7f7f7!important;
    line-height:unset;
    display: block;
}
.font-grey{
    color:#999;
}
section.container{
    margin-top: 15px;
    margin-bottom: 15px;
}
.o-flow{
    overflow: hidden;
}
.posted_btn{
    background: rgb(234,80,20);
    color: #fff;
    outline: none;
    border: none;
    text-align: center;
    padding: 10px 24px 7px;
    font-size: 15px;
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif!important;
    max-width: 120px;
    display:block;
    margin-top: 15px;
    float: right;
}
.posted_btn .pencil{
    width: 22px;
    margin: 0 8px 2px 0;
}
.posted_btn:hover,.posted_btn:focus,.posted_btn:active{
    color: #fcfcfc;
    text-decoration: none;
}
.posted_btn:hover{
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.details_head{
    background-color: rgb(249, 249, 249);
    padding: 10px 20px;
    color: #666;
}

.details_head ul{
    margin: 0px;
    padding:0px;
}
.details_head li{
    float: left;
    list-style-type: none;
    padding: 0 8px;
    text-align: center;
    line-height: 1;
}
.cut-off{
    border-right:rgb(158,158,159) solid 1px;
}
ul li.item-title{
    padding: 0 15px 0 0;
}

.item-writer{
    margin-right: 20px;
}
.posts-d{
border-bottom: 1px solid #ddd;
}
.posts-d>div{
    padding:12px 15px;
}
.my-posts-t a{
    margin-right: 6px;
}.f-g{
    color: #999;
}