.orange-btn{
    background-color: rgb(234,80,20);
    color: #fff;
    text-align: center;
    border: 0px;
}
.search-container{
    margin-top: 70px;
    padding-left:0px;
}


.search-img{
    width: 160px;
    height: 60px;
}
#scform{
    margin: 0 auto;
}
.strong-my-search, .fa-my-search{
    font-size: 12px;
}
.sttl h2{
    font-size: 14px;
    margin: 0px;
    padding: 15px;
}
button#scform_submit span{
font-weight: 600;
}
.emp{
    padding: 15px!important;
}
#threadlist{
    padding: 0 15px;
}