section.container{
    margin-top: 65px;
    margin-bottom: 15px;
}
/* 
 *左侧导航
 */

 
.a{
    color: rgb(234,80,20);
}
.leftsidebar{
    padding: 0px;
}
.leftsidebar .a{
    background-color: #f7f7f7;
    color: inherit;
}

.leftsidebar_title{
    font-size: 16px;
    background-color: #fff;
    border-width: 1px 1px 0px 1px!important;
    border: solid #ddd;
}
.leftsidebar_title span{
    display:block;
    margin: 0 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #cdcdcd;
}
.leftsidebar_list{
    background-color: #fff;
    border-width: 0px 1px 1px 1px!important;
    border: solid #ddd;
    padding:10px 0;
}
.leftsidebar_list>div{
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* 
 *右侧详情
 */

 .personal_data{
    min-height: 400px;
    padding-right: 0px;
}
.personal_data .mt{
    font-size: 14px;
	 padding:15px;
	 margin: 0 -15px 15px;
	 background-color: #f7f7f7;
}
.personal_data .tb{
    margin-left: -15px;
}
 .personal_data div.h4{
     font-size: 16px;
     font-weight: 600;
 }
 .big_userimg>img{
    display: block;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-bottom: 15px;
 }
 .small_userimg>img{
    display:block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 50px 50px 65px;
}
 img.small_userimg{
    display:block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 50px 50px 65px;
}
.userimg_show{
    margin: 30px;
}
