section.container{
    margin-bottom: 20px;
}
/* 
 *用户信息展示-头部
 */
 .userinfo_top{
     margin-top:50px; 
 }
 .userinfo_top .pull-left img{
     width:140px;
     height: 140px;
     border-radius: 50%;
     padding: 5px;
     border: 1px solid #ddd;
     background-color: #fff;
     margin-left: 15px;
 }
 .userinfo_top_msg{
     margin-left: 10px;
     padding-bottom: 15px;
 }
 .msg_table{
    color: #aaa;
 }
 .msg_table td{
	width:110px;
    text-align:center;
    font-size: 15px;
    height:22px;
}
.msg_table .left_line{
    border-left:#ccc solid 1px;
    padding:0px 5px;
}
.userinfo_top_msg>h2{
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.userinfo_tab_nav{
    margin-top:30px; 
}
ul{
    margin: 0px;
}

span.act{
    background-color: rgb(234,80,20);
}
/* 
 *用户信息展示-详细列表
 */
.userinfo_bottom{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.usercontent{
    padding-right:0;
}
.userinfo_bottom span{
    display: inline-block;
}
.userinfo_bottom>div{
    padding: 20px 0;
}
.user_id{
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}
.left_line {
    border-left: #bbb solid 1px;
}
.identification span,.statistics span{
    text-align: center;
    padding: 0px 8px;
}
.h3_custom{
    margin-top: 0px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom:0px;
}
.top_dotted{
    border-top: dotted 1px #bbb;
}
.birthday{
    margin-left: 30px;
}
.user_msg span{
    margin-left: 8px;
}
.liveness table{
    width: 100%;
    line-height: 1.8;
}
.liveness span{
    margin-left: 8px;
}
.statistics_num span{
    padding: 0 10px;
    text-align: center;
    line-height: 1.8;
}
.statistics_num_list{
    margin-left: -11px;
}
span.management{
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}

/* 下作侧栏菜单 */
.leftsidebar{
    padding: 0px;
}
.leftsidebar .a{
    background-color: #f7f7f7;
    color: inherit;
}
.leftsidebar_title{
    font-size: 16px;
    background-color: #fff;
    border-width: 1px 1px 0px 1px!important;
    border: solid #ddd;
}
.leftsidebar_title span{
    display:block;
    margin: 0 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #cdcdcd;
}
.leftsidebar_list{
    background-color: #fff;
    border-width: 0px 1px 1px 1px!important;
    border: solid #ddd;
    padding:10px 0;
}
.leftsidebar_list div{
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}
/* 右侧头部 */
.right-title{
    margin: 0 -15px 15px!important;
    padding:15px!important;
    background-color: #f7f7f7!important;
    line-height:unset;
}
.ml-15{
    padding-left: 0px;
}
.ml-15 .a{
    color: rgb(234,80,20);
}
